body {
    min-height: 100vh;
    /* display: grid;
    place-items: center; */
    
}

main {
    
}

canvas {
    border: 10px solid black;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}